:root {
    --hero-height: 600px;
    --max-width: 2600px;
    --size-200: 16px;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* Start of header css */

.sg-games-header {
    width: 100%;
    max-width: var(--max-width);
    position: fixed;
    display: block;
    top: 0;
    left: 50%;
    transform: translate(-50%);
    z-index: 1;
    box-sizing: border-box;
}

.header {
    background: rgba(162, 0, 0, 0.44);
    border-radius: .5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: var(--size-200);
    left: var(--size-200);
    right: var(--size-200);
    padding: 1em;
    min-height: 30px;
    box-sizing: border-box;
}
/* End of header css */

/* Start of hero css */

.hero {
    position: relative;
    display: block;
    width: 100%;
    transform: translate(-50%);
    left: 50%;
}

.hero-image {
    
    height: var(--hero-height);
    background: url('../images/mw2.jpg');
    background-repeat: no-repeat;
    background-position-y: -6em;
    background-size: auto;
}

.hero-info {
    background: linear-gradient(70.55deg, #180000 46.24%, rgba(24, 0, 0, 0) 75.46%);
    height: calc(600px - 4em - 30px);
    width: 30vw;
    padding: calc(4em + 30px) 0 0 5vw;
}

.hero-info h1 {
    font-weight: lighter;
    font-size: 3rem;
}

.hero-info button {
    margin-top: calc(400px - 4em - 30px);
    background-color: #FF6D6D;
    font-size: large;
    border-radius: .4rem;
    border: 1px solid #FF6D6D;
}

/* End of hero css */

.category-tabs {
    display: grid;
    grid-template
}

.category-item {
    display: inline-grid;
}