* {
    margin: 0 auto;
    font-family: 'Rubik', sans-serif;
}

body {
    background: #180000;
}

h1,
h2,
h3,
h4,
p,
a {
    margin: 0;
    color: white;
}

div {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
}

button {
    cursor: pointer;
}

a {
    text-decoration: none;
}

button[type=submit] {
    background-color: #FF6D6D;
    font-size: large;
    border-radius: .4rem;
    border: 0;
    padding: .1em .5em;
}

/* YL */